#macOS
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rprofile

# pkgdown site
# docs/

# translation temp files
po/*~


# ignore internal input data files
orte-albert.doc
themengeschichtspfad.pdf
*.ctt4
*.xlsx

# bookdown
_bookdown_files
_book
!/docs/libs/*
doc/*.html
# venv
/renv
/venv

*.Rdata
*.Rds
*.ttl
*.jsonld
*.code-workspace
*.Rds

*.nb.html


# spacy stuff
*.spacy

/data-gathering/named-entity-recognition/models/output/model-best
/data-gathering/named-entity-recognition/models/output/model-last

# pycharm stuff
*.idea
data-gathering/named-entity-recognition/data/rubrix-export-addresses-dates.csv
data-gathering/named-entity-recognition/data/rubrix-export-ner-model.csv
data-gathering/named-entity-recognition/spacy_ner_dev.py
data-linking/lobid/working-qu-sim.R
data-linking/lobid/fun-shingles.R
data-publishing/factgrid/data/locations.csv
data-publishing/factgrid/data/location_addresses.csv
data-publishing/factgrid/data/location_addresses.csv
data-publishing/factgrid/data/location_addresses.csv
data-publishing/factgrid/data/location_addresses.csv
data-publishing/factgrid/config.yml
data-gathering/data/input/Personenliste Verfolgung Wohnort München.xls
data-gathering/data/input/.~lock.Personenliste Verfolgung Wohnort München.xls\#
data-publishing/factgrid/data/clubs.csv
*.csv
data-publishing/factgrid/data/persons.csv
data-publishing/factgrid/data/location_addresses.csv
analysis/plot-full-network.html
analysis/2022-05-31-status-update/full-network-big.png
analysis/img/full-network-big.png
analysis/img/full-network.png
analysis/2022-05-31-status-update/index.html

!data-publishing/wikidata/data/revisions.csv
data-publishing/factgrid/data/kz-berufe
*.ini
